<!DOCTYPE html>
<html>
  <head>
    <title>Coffe2Night</title>
      <link rel="icon" type="image/x-icon" href="./src/img/coffe2night.png">
    <link rel="stylesheet" type="text/css" href="./src/css/index.css" />
   <link rel="stylesheet" type="text/css" href="./src/css/404.css" />
  </head>
<body>
<br> <br> <br> <br> <br> <br> <br> <br>
  <center>
     <div class="flex-container">
  <div class="content-container">
  <div class="form-container">
  
  <h1>
    Pagina não encontrada
    </h1>
  <h2>
    Que tal voltar pra pagina inicial?
    </h2>
<a href="/" class="buttonp"><br>VOLTAR</a>
    </div>
       </div>
  </div>
  </center>



  </body>
</html>