<!DOCTYPE html>
<html>
  <head>
    <title>Coffe2Night</title>

    <link rel="icon" type="image/x-icon" href="./src/img/coffe2night.png" />
    <link rel="stylesheet" type="text/css" href="./src/css/index.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/rlmain.css" />
  </head>
  <body>
    <br />
    <br />
    <br />
  
    <div class="flex-container">
      <div class="content-container">
        <div class="form-container">
          <form action="" method="post">
            <h1>Registro</h1>
            <br />
            <br />
            <span class="subtitle">USERNAME:</span>
            <br />
            <input type="text" name="username" value="" />
            <br />
            <span class="subtitle">EMAIL:</span>
            <br />
            <input type="email" name="email" value="" />
            <br />
            <span class="subtitle">PASSWORD:</span>
            <br />
            <input type="password" name="password" value="" />

            <br /><br />
            <input type="submit" value="SUBMIT" class="submit-btn" />
            <a href="/" class="subtitle">Já tem uma conta?</a>
          </form>
        </div>
      </div>
    </div>

   
  </body>
</html>
